
<link href="~/Content/ui-grid.css" rel="stylesheet" />
<div  ng-controller="NumberController">

    <div id="grid" ui-grid="{data:numberObjects}" class="grid"></div>


    <div style="margin-top: 20px">
        <form name="myForm" >
            <label>
               Max Number:
                <input type="number" name="input" ng-model="maxNumber"
                       min="0" max="100" ng-change="maxNumberchange()" required>
            </label>
            <div role="alert">
                <span class="error" ng-show="myForm.input.$error.required">
                    Required!
                </span>
                <span class="error" ng-show="myForm.input.$error.number">
                    Not valid number!
                </span>
            </div>
            
        </form>
    </div>

    <div style="margin-top: 50px">
        <canvas id="line" class="chart chart-line" chart-data="[numberArray]"
                chart-labels="numberIndexArray" chart-series="series" chart-options="options"
                 </canvas> 
    </div>

</div>
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/ui-grid.js"></script>
<script src="~/Scripts/chart.js"></script>
<script src="~/Scripts/angular-chart.js"></script>
<script src="~/Scripts/app.js"></script>
